/* App.css */
.app-container {
  text-align: center;
  margin: 20px;
}

.input-style {
  padding: 10px;
  margin: 10px;
}

.true-container {
  background-color: #db9cda;
  padding: 10px;
  margin: 10px;
}

.false-container {
  background-color: #ff9e9e;
  padding: 10px;
  margin: 10px;
}
